extends ../../layout/default.pug
include ../../mixin/filter.pug
include ../../mixin/search.pug
include ../../mixin/pagination.pug
include ../../mixin/box-changeStatus.pug
include ../../mixin/box-deleteProducts.pug
block main 
  h1(class="mb-4") Danh sách sản phẩm

  .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-6
          +filter(filterStatus)
        .col-6
          +search(keyword)
  .card.mb-3
    .card-header Tác Vụ
    .card-body
      .row
        .col-4
          +box-changeStatus(`/${prefixAdmin}/products/change-multiStatus`)
        .col-4
          +box-deleteProducts(`/${prefixAdmin}/products/delete-multiProduct`)
  .card.mb-3
    .card-header Danh sách
    .card-body
      table.table.table-hover.table-sm
        thead
          tr
            th
              input(
              type="checkbox"
              name="checkAll"
              )
            th STT
            th Hình ảnh
            th Tiêu đề
            th Giá
            th Trạng thái
            th Hành động

        tbody
          each item, index in products
            tr
              td
                input(
                type="checkbox"
                name="checkItem"
                value=item.id
                ) 
              td #{index+1}
              td
                img(
                  src=item.thumbnail
                  alt=item.title
                  width="100px"
                  height="auto"
                )
              td #{item.title}
              td #{item.price}$
              td
                if(item.status == "active")
                  button(
                    link = `/${prefixAdmin}/products/change-status/${item.id}`
                    class="badge badge-success"
                    button-changeStatus = "inactive"
                    ) Hoạt động
                else
                  button(
                    link = `/${prefixAdmin}/products/change-status/${item.id}`
                    class="badge badge-danger"
                    button-changeStatus = "active"
                  ) Dừng hoạt động
              td
                button(class="btn btn-warning btn-sm") Sửa
                button(
                  class="btn btn-danger btn-sm ml-1"
                  button-delete=`/${prefixAdmin}/products/delete/${item.id}`) Xóa
  +pagination(pagination)
